cache/*
databases/*
errors/*
sessions/*
uploads/*
*.pyc
*~
.sass-cache
.sass-cache/*

*.xml

*.iml

*.pyc

web2py/applications/PlanIt/languages/*

web2py/applications/PlanIt/LICENSE

web2py/applications/PlanIt/modules/__init__.py


web2py/httpserver.log

web2py/NEWINSTALL

# pycharm config and settings files
*.?ml
*.pyc
*.log
web2py/applications/admin/sessions/*
web2py/applications/PlanIt/databases/storage.sqlite
web2py/parameters_8000.py

web2py/applications/planit/__init__.py

*.1-044eff60-4939-4b6a-b813-fa5d1470a9e7

web2py/applications/PlanIt/__init__.py

web2py/applications/PlanIt/databases/storage.sqlite

web2py/applications/planit/languages/de.py

web2py/parameters_8000.py
databases/
errors/
modules/
sessions/
uploads/

web2py/httpserver.pid

*.w2p
