# pycharm config and settings files
*.?ml
*.pyc
*.log
web2py/applications/admin/sessions/1b7/08f/127.0.0.1-2626a725-477c-4544-84cf-4415f6579a57
web2py/applications/PlanIt/databases/storage.sqlite
web2py/parameters_8000.py
