#plan-header, #plan-title {
    display: table;
    height: 40px;
    width: 100%;
    padding-left: 20px;
}

#plan-header h2 {
    display: table-cell;
    text-align: left;
    vertical-align: middle;
}

input.form-control, #submit_record__row {
    width: 100%;
}

#stop-list {
    background-color: lightgrey;
    height: 100%;
    overflow-y: auto;
}

.stop-outer {
    margin-bottom: 10px;
    height: 200px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.stop-time, .stop-inner {
    display: inline-block;
    float: left;
    height: 100%;
    background-color: white;
}

.stop-time {
    display: inline-block;
    width: 70px;
}

.float-middle {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.stop-time span{
    display: block;
    text-align: center;
}

.stop-time a:hover {
    text-decoration: none;
}

.stop-inner {
    box-shadow: 2px 2px 4px -2px #999;
    margin-left: 5px;
    width: calc(100% - 75px);
    padding: 5px;

}

.mask {
    height: 100%;
    width: 25%;
    overflow-x: hidden;
    overflow-y: hidden;
    align-content: center;
    display: inline-block;
    float: left;
}

.stop-inner img {
    height: 100%;
    width: auto;
    transform: translate(-22%, 0);
}

.stop-inner .stop-content {
    display: inline-block;
    height: 100%;
    max-width: 70%;
    float: left;
    padding-left: 10px;
    padding-right: 5px;
}

.stop-inner .stop-content span, .stop-inner .stop-content p {
    display: block;
}

.stop-inner .stop-content .stop-label{
    font-size: 20px;
}

.stop-inner .stop-content .place-name{
    font-size: 14px;
}

.stop-inner .stop-content p{
    font-size: 11px;
}

#add-stop-div {
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
}