{{extend 'layout.html'}}

{{block head}}
{{super}}
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBxR53fN_ZDwYgoJ31tYUcAc-riycqih-w&callback=initMap"
  type="text/javascript"></script>
<script src="{{=URL('static', 'js/vue.js')}}"></script>

<script>
    var tracks_url = "{{=URL('api', 'get_tracks')}}";
    var recommendation_url = "{{=URL('api', 'get_recommendation')}}";
</script>

<script>
    var add_stop_url = "{{=URL('api', 'add_stop', user_signature=True)}}";
    var get_stops_url = "{{=URL('api', 'get_stops')}}";
    var del_stop_url = "{{=URL('api', 'del_stop')}}";
    var get_plan_url = "{{=URL('api', 'select_plan')}}";
    var pid = parseInt("{{=p_id}}");
</script>
{{end}}

{{if auth.user_id:}}

    {{block top-nav}} <!-- Overwrite nav bar -->
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <a href="{{=URL('default', 'index')}}">
                <div class="navbar logo-container pull-left">
                    <span class="navbar logo">
                        Plan-It
                    </span>
                </div>
            </a>

            {{block nav-buttons}} <!-- Overwrite nav buttons -->
                <a href="{{=URL('default', 'home')}}">
                    <div class="navbar pull-left nav-link">
                        <span class="navbar nav-link-text">
                            Home
                        </span>
                    </div>
                </a>

                <!-- Dropdown menu for Plan selection -->
                <div class="navbar pull-left nav-link">
                    <span class="navbar nav-link-text dropdown">
                    My Plans
                        <i class="fa fa-angle-down"></i>
                        <div class="dropdown-content">
                            <!-- This is where you would iterate over the plans retrieved
                                from the database and create a link for each one -->
                            {{plans = db().select(db.planit_plan.label, db.planit_plan.id)}}
                            {{for plan in plans:}}
                            <!-- When clicked the link should NOT reload the page but
                                instead populate the appropriate containers with the
                                selected plan's information -->
                            <a href="{{=URL('default', 'home', args=[plan.id])}}">
                                {{=plan.label}}
                            </a>
                            {{pass}}
                        </div>
                    </span>
                </div>

                <a href="{{=URL('default', 'newPlan')}}">
                    <div class="navbar pull-left nav-link">
                        <span class="navbar nav-link-text">
                           New Plan  <i class="fa fa-plus fa-1"></i>
                        </span>
                    </div>
                </a>

                <div class="navbar pull-right nav-link">
                    <span class="navbar nav-link-text dropdown">
                    {{=auth.user.first_name}}
                        <i class="fa fa-angle-down"></i>
                        <div class="dropdown-content">
                            <a href="{{=URL('default','user',args=['logout'])}}">Logout</a>
                        </div>
                    </span>
                </div>
            {{end}}
        </nav>
    {{end}}

    <div class="home-container">
        <div id="suggestion-container" class="pull-left scrollbar">

            {{include 'default/recommendation.html'}}

        </div>
        <div id="calendar-container" class="pull-left scrollbar">
            {{include 'default/plans.html'}}
        </div>

        <div id="map-container" class = "pull-left scrollbar">
            <title>Simple Map</title>
            <meta name="viewport" content="initial-scale=1.0">
            <meta charset="utf-8">
            <style>
              /* Always set the map height explicitly to define the size of the div
               * element that contains the map. */
              #map {
                height: 100%;
              }
              /* Optional: Makes the sample page fill the window. */
              html, body {
                height: 100%;
                margin: 0;
                padding: 0;
              }
            </style>
            <div id="map"></div>
                <script>
                  var map;
                  function initMap() {
                    map = new google.maps.Map(document.getElementById('map'), {
                      center: {lat: -34.397, lng: 150.644},
                      zoom: 8
                    });
                  }
                  initMap();
                </script>
        </div>
    </div>

{{else:}}

    {{=redirect(URL('default', 'user', args=['login']))}}

{{pass}}