{{extend 'layout.html'}}

<script src="{{=URL('static', 'js/vue.js')}}"></script>

<script>
    var info_url = "{{=URL('api', 'get_more_info')}}";
    var recommendations_url = "{{=URL('api', 'get_recommendations')}}";
    var places_api_url = "{{=URL('api', 'test')}}}}";
    var get_place_icon_url = "{{=URL('api', 'get_place_icons')}}";
</script>

    <div id="vue-div" class="display:none">

        <!--implement search bar here -->

        <!--div class="wrapper">
        <div class="wrapper">
            <input class = "searchBar" v-model="searchRec" type="text" />
            <button class = "goButton" v-on:click="searchFn(searchRec, locationRec)">Search</button>
        </div>
            <input class = "searchBar" v-model="locationRec" type="text" />
            </div-->
        <div class = "Wrapper">
            <div class="wrapper">
                <input placeholder="Search" class = "searchBar" v-model="searchRec" type="text" />
            </div>
            <div class="wrapper">
                <input placeholder="Location" class = "searchBar" v-model="locationRec" type="text" />
            </div>

            <input class="btn btn-primary" v-on:click="searchFn(searchRec, locationRec)" type="submit" value="Search">
        </div>

        <!--div class="wrapper">
            <input class = "searchBar" v-model="locationRec" type="text" />
            <button class = "goButton" style="display:none;" v-on:click="searchFn(searchRec)">Search</button>
        </div-->

        <!--div class="button_bar">
            <button class="btn btn-danger btn-sm" v-on:click="add_track()" v-bind:class="{'disabled': !logged_in}">{{=icon_add}}Add track</button>
        </div-->

        <div v-for = "rec in recommendation">
            <div class="sugg-card">
                <div class="pull-left">
                    <a href="#">
                        <img class="imgClass-thumbnail" v-bind:src="rec.image">
                    </a>
                </div>
                <div class="sugg-card-body">
                    <h2>${rec.name}</h2>
                    <p>${rec.neighborhood}</p>
                </div>
                <div class="sugg-card-footer">
                    <span style="display: inline-block; float: left;">
                        Price: ${rec.price_level}
                    </span>
                    <span class="rating">
                        Rating: ${rec.rating}
                    </span>
                </div>
            </div>
        </div>
        <div v-if="has_more" class="show_more"><button class="btn btn-default" v-on:click="get_more_rec()">Load more</button></div>
    </div>

<script src="{{=URL('static', 'js/default_index.js')}}"></script>
