<div class=left>
  <div class="block">
    <img src="" style="width:125px;height:80px;">
  </div>
  <div class="block">
    <img src="" style="width:40px;height:40px;">
    <img src="" style="width:40px;height:40px;">
    <img src="" style="width:40px;height:40px;">
  </div>
</div>

<div class = "right">
  <h2>{{=placeName}}</h2>
  <h3>
    {{=Neighborhood}}
  </h3>
  <div class="block">
    <img src="" style="width:30px;height:30px;">
    <img src="" style="width:30px;height:30px;">
    <img src="" style="width:30px;height:30px;">
  </div>
</div>