{{extend 'layout.html'}}

<div class="text-center" style="padding:50px 0">
    <!-- Main Form -->
	<div class="login-form-1">
		<form id="login-form" class="text-left">
			<div class="center login-form-main-message">
                 Please Sign in with your Plan-It Account.
            </div>
			<div class="main-login-form">
				{{=login}}
			</div>
			<div class="etc-login-form">
                <div class = "row">
				    <a class = "register">Dont have an account? </a>
                    <a class="register" href="{{=URL('default', 'register')}}">Sign up here!</a>
                </div>
                <div>
                    <a class="forgot" href="{{=URL('default', 'forgotPass')}}">Forgot Password?</a>
                </div>

			</div>
		</form>
	</div>
	<!-- end:Main Form -->
</div>

     <!--   <div id="web2py_user_form" class="col-lg-6">
        {{
       """ if request.args(0)=='login':
            if not 'register' in auth.settings.actions_disabled:
                form.add_button(T('Sign Up'),URL(args='register', vars={'_next': request.vars._next} if request.vars._next else None),_class='btn btn-default')
            pass
            if not 'request_reset_password' in auth.settings.actions_disabled:
                form.add_button(T('Lost Password'),URL(args='request_reset_password'),_class='btn btn-default')
            pass
        pass
        =form"""
        }}-->
        </div>

