{{extend 'layout.html'}}



{{block top-nav}} <!-- Default Navbar, can be overridden in extended file -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <a href="{{=URL('default', 'index')}}">
        <div class="navbar logo-container pull-left">
            <img src="{{=URL('static', 'images/planit_logo_white.png')}}" style="max-width: 50%; height: auto;">
        </div>
    </a>

    <!-- Override this in extended file with the navigation buttons specific to the page -->

    {{block nav-buttons}}
    {{if auth.user_id:}}
        <div class="navbar pull-right nav-link">
                <span class="navbar nav-link-text dropdown">
                {{=auth.user.first_name}}
                    <i class="fa fa-angle-down"></i>
                    <div class="dropdown-content">
                        <a href="{{=URL('default','user',args=['logout'])}}">Logout</a>
                    </div>
                </span>
        </div>
    {{else:}}
        <a href="{{=URL('default', 'register')}}">
            <div class="navbar pull-right nav-link">
                <span class="navbar nav-link-text">
                    Sign-Up
                </span>
            </div>
        </a>
    {{pass}}
    {{end}}
</nav>
{{end}}


<div class="text-center" style="padding:50px 0">
    <!-- Main Form -->
    <div class="login-form-1">
            <div class="center login-form-main-message" style = "padding-left: 15px;">
                Please Sign in with your Plan-It Account.
            </div>
            <div class="main-login-form">
            {{=login}}
            </div>

    </div>

    <!--TODO: through bootstrap spacing make the register stuff go to the middle-->
     <div class="register">
         <span>Don't have an account? </span>
         <a class = "sign-up" href="{{=URL('default', 'register')}}">Sign up here!</a>
     </div>
     <div>
        <a class="forgot" href="{{=URL('default', 'forgotPass')}}">Forgot Password?</a>
     </div>
    <!-- end:Main Form -->
</div>

<!--   <div id="web2py_user_form" class="col-lg-6">
        {{
""" if request.args(0)=='login':
     if not 'register' in auth.settings.actions_disabled:
         form.add_button(T('Sign Up'),URL(args='register', vars={'_next': request.vars._next} if request.vars._next else None),_class='btn btn-default')
     pass
     if not 'request_reset_password' in auth.settings.actions_disabled:
         form.add_button(T('Lost Password'),URL(args='request_reset_password'),_class='btn btn-default')
     pass
 pass
 =form"""
}}-->
</div>

